.Navcss {
	list-style-type: none;
	background-color: #1c1d1f;
	margin: 0;
	padding: 0;

	-webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
}








