ul {
    margin: 0;
}
li {
    display: block;

}

a{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    /*color: #d7d9db;*/
    color: #DFA039;
    text-decoration: none;


}

a:hover,
a:active,
a.active{
    /*background-color: rgb(112,3,3);*/
    background-color: #688DA7;
}

@media (min-width: 500px) {
    ul {
        margin: 2rem 0;
    }
    li {
        display: inline;

    }

    a{
        font-size: 2rem;
        display: inline-block;
        text-align: center;
        /*color: #d7d9db;*/
        color: #DFA039;
        text-decoration: none;
        width: 16.66%;

    }

    a:hover,
    a:active,
    a.active{
        /*background-color: rgb(112,3,3);*/
        background-color: #688DA7;
    }
}

