li {
    display: inline;

}

a{
    display: inline-block;
    text-align: center;
    /*color: #d7d9db;*/
    color: #DFA039;
    text-decoration: none;
    width: 16.66%;

}

a:hover,
a:active,
a.active{
    /*background-color: rgb(112,3,3);*/
    background-color: #688DA7;
}


